@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');

.foto {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prlx, .prlx2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.advancedhero{
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bir, .iki{
    box-shadow: 0px 1px 0px 0px rgba(0,255,255,0.7), 2px 4px 16px 0px rgba(0,255,255,0.7);
}
.bir:hover ,.iki:hover{
    box-shadow: 1px 2px 10px 0px rgba(0,255,255,0.7);
}
#forbeginners,#advanced{
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    background: linear-gradient(to right, #fc00ff, #00dbde); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
