body{background-color: black;}

.hakkimda{
  position: relative; 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom: 2px solid rgb(0,255,255);
}
.hakkimda::before {    
    content: "";
    background-image: url('../images/pc3.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.30;
}
.hakkimdahero{z-index: 2; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.hakkimdahero h1{font-weight: 700; font-size: xx-large; margin-bottom: 10px;}
.pfirst{font-size: large; width: 70%; margin-bottom: 10px;}
.ikonlar{margin: 20px 0px 25px 0px;}


a{text-decoration: none;}
.githubIcon, .mailIcon,.linkedinIcon{
  color: white;
  margin-right: 5px;
}

.github:hover .githubIcon{color: rgba(0,255,255,0.7);}
.github:hover .githubP{  
  background: linear-gradient(to left, white, rgb(122, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mail:hover .mailIcon { color: rgba(0,255,255,0.7);}
.mail:hover .mailP{  
  background: linear-gradient(to left, white, rgb(122, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linkedin:hover .linkedinIcon {color: rgba(0,255,255,0.7);}
.linkedin:hover .linkedinP{  
  background: linear-gradient(to left, white, rgb(122, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.github, .linkedin, .mail{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.prj{
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  color: black;
  box-shadow: 1px 2px 16px 0px rgba(0,255,255,0.7);
}
.prj:hover{
  box-shadow: 1px 2px 8px 0px rgba(0,255,255,0.7);
}
.stacks{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.stacksalt{display: flex;}
.stacks h1{font-weight: 600; margin: 5vh 0px;}
.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin: 20px;
}
.logo img{
  width: 90px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7), 1px 2px 4px 0px rgba(0,255,255,0.7),  2px 4px 16px 0px rgba(0,255,255,0.7);
}
.logo p{font-weight: 700; margin-top: 10px;}

.sec1,.sec2{ display: flex; align-items: center; justify-content: center;}

.anm{width: 500px; height: auto;}

@keyframes animasyon {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animasyon2 {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animasyon3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width : 1024px){
  .stacks{height: auto;}
  .anm{width: 300px; height: auto;}
  .stacksalt{display: flex; flex-direction: column;}
}
@media screen and (max-width : 850px){
  .logo img{ width: 80px; height: 80px; box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7), 1px 2px 4px 0px rgba(0,255,255,0.7), 2px 2px 1px 0px rgba(0,255,255,0.7), 2px 4px 8px 0px rgba(0,255,255,0.7);}
  .sec1,.sec2{ flex-direction: column;}
  .logos{display: flex; flex-direction: row;}
}
@media screen and (max-width : 550px){
  .logo img{ width: 50px; height: 50px; }
  .hakkimdahero h1{font-size: larger;}
  .pfirst{font-size: medium;}
}
@media screen and (max-width : 320px){
  .logo img{width: 45px; height: 45px;}
  .stacks h1{font-size: x-large;}
  .hakkimdahero h1{font-size: large;}
  .pfirst{font-size: small;}
}