body{background-color: black;}
.container {
  /* position: relative;  */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom: 2px solid rgb(0,255,255);
}

.container::before {    
    content: "";
    background-image: url('../images/pc3.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.30;
}

.heroh1 {
  /* background: linear-gradient(to left, white, rgba(0,255,255,0.7)); */
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  font-size: 8vh;
  margin-bottom: 30px;
  width: 50%;
}
.parap{
  color: white;
  font-size: x-large;
}
.hero{
  z-index: 2;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.para{
  color: white;
  width: 70%;
  text-align: center;
  margin-bottom: 10vh;
}
a{text-decoration: none;}
.githubIcon, .mailIcon,.linkedinIcon{
  color: white;
  margin-right: 5px;
}

.github:hover .githubIcon{color: rgba(0,255,255,0.7);}
.github:hover .githubP{  
  background: linear-gradient(to left, white, rgb(122, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mail:hover .mailIcon { color: rgba(0,255,255,0.7);}
.mail:hover .mailP{  
  background: linear-gradient(to left, white, rgb(122, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linkedin:hover .linkedinIcon {color: rgba(0,255,255,0.7);}
.linkedin:hover .linkedinP{  
  background: linear-gradient(to left, white, rgb(122, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  font-size: 3vh;
}
.github, .linkedin, .mail{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.prj{
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  color: black;
  margin-top: 60px;
  box-shadow: 1px 2px 16px 0px rgba(0,255,255,0.7);
}
.prj:hover{
  box-shadow: 1px 2px 8px 0px rgba(0,255,255,0.7);
}
.stacks{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.stacksalt{display: flex;}
.stacks h1{font-weight: 600; margin: 5vh 0px;}
.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin: 20px;
}
.logo img{
  width: 90px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7), 1px 2px 4px 0px rgba(0,255,255,0.7),  2px 4px 16px 0px rgba(0,255,255,0.7);
}
.logo p{font-weight: 700; margin-top: 10px;}

.sec1,.sec2{ display: flex; align-items: center; justify-content: center;}

.anm{width: 500px; height: auto;}

@keyframes animasyon {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@media screen and (max-width : 1024px){
  .stacks{height: auto;}
  .heroh1{font-size: 6vh;}
  .parap{font-size: 3vh;}
  .icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
  }
  a{margin-bottom: 10px;}
  .anm{width: 300px; height: auto;}
  .stacksalt{display: flex; flex-direction: column;}
}
@media screen and (max-width : 800px){
  .heroh1{font-size: 5vh;}
  .parap{font-size: 2.5vh;}
  .icons{
    font-size: 2.5vh;
  }
  .prj{padding: 5px 10px; font-size: small;}
  .logo img{ width: 80px; height: 80px; box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7), 1px 2px 4px 0px rgba(0,255,255,0.7), 2px 2px 1px 0px rgba(0,255,255,0.7), 2px 4px 8px 0px rgba(0,255,255,0.7);}
  .sec1,.sec2{ flex-direction: column;}
  .logos{display: flex; flex-direction: row;}
}
@media screen and (max-width : 550px){
  .heroh1{font-size: 4vh;}
  .parap{font-size: 2vh;}
  .icons{
    font-size: 2vh;
  }
  .logo img{ width: 50px; height: 50px; }
}
@media screen and (max-width : 320px){
  .heroh1{font-size: 3.5vh;}
  .parap{font-size: 1.8vh;}
  .prj{margin-top: 30px;}
  .para{margin-bottom: 5vh;}
  .logo img{width: 45px; height: 45px;}
  .stacks h1{font-size: x-large;}
}