@font-face {
  font-family: 'Alliance';
  src: url('../assets/alliance.woff2') format('woff2');
}

body{
  background-color: black;
}

.hello{
  background: linear-gradient(to right, #43cea2, #185a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300!important;
  font-size: 72px!important;
  margin-bottom: 10px;
  font-family: 'Alliance', sans-serif!important;
}
.skill{
  background: linear-gradient(to right, #43cea2, #185a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  font-family: 'Alliance', sans-serif;
}

.hakkimda{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hakkimdahero{ color: white; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.pfirst{font-family: alliance,sans-serif; font-size: 20px; font-weight: 400!important; width: 70%; margin-bottom: 10px;}
.ikonlar{margin: 20px 0px 25px 0px; display: flex; flex-direction: column; height: 180px; justify-content: space-around;}


a{text-decoration: none;}

.githubIcon,.linkedinIcon{
  margin-right: 5px;
  font-size: x-large;
}


.github:hover .githubIcon{color: #69a5e1!important;}
.github:hover .githubP{color: #69a5e1!important;}
.linkedin:hover .linkedinIcon {color: #69a5e1!important;}
.linkedin:hover .linkedinP{color: #69a5e1!important;}

.github, .linkedin{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.prj{
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  font-weight: 600;
  color: black;
  box-shadow: 1px 2px 16px 0px rgba(0,255,255,0.7);
}
.prj:hover{
  box-shadow: 1px 2px 8px 0px rgba(0,255,255,0.7);
}
.stacks{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.stacksalt{display: flex;}
.stacks h1{font-weight: 600; margin: 5vh 0px;}
.logos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin: 20px;
}
.logo img{
  width: 90px;
  height: 90px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px 0px rgba(0,255,255,0.7), 0px 0px 4px 0px rgba(0,255,255,0.7),  0px 0px 12px 0px rgba(0, 255, 255, 0.46);
}
.logo p{font-weight: 700; margin-top: 10px;}

.sec1,.sec2{ display: flex; align-items: center; justify-content: center;}

.anm{width: 500px; height: auto;}
.code{width: 500px; height: auto;}

@keyframes animasyon {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animasyon2 {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animasyon3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width : 1024px){
  .stacks{height: auto;}
  .anm{width: 300px; height: auto;}
  .stacksalt{display: flex; flex-direction: column;}
  .code{display: none;}
}
@media screen and (max-width : 850px){
  .logo img{ width: 80px; height: 80px; box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7), 1px 2px 4px 0px rgba(0,255,255,0.7), 2px 2px 1px 0px rgba(0,255,255,0.7), 2px 4px 8px 0px rgba(0,255,255,0.7);}
  .sec1,.sec2{ flex-direction: column;}
  .logos{display: flex; flex-direction: row;}
  .hello{font-size: 44px!important;}
  .githubIcon,.linkedinIcon{font-size: large;}
  .githubP,.linkedinP{font-size: medium;}
}
@media screen and (max-width : 550px){
  .logo img{ width: 50px; height: 50px; }
  .pfirst{font-size: 16px;}
  .prj{padding: 5px 16px; font-size: small;}
  .skill{font-size: 36px;}
}
@media screen and (max-width : 320px){
  .logo img{width: 45px; height: 45px;}
  .hello{font-size: 36px;}
  .pfirst{font-size: 14px;}
  .anm{width: 260px; height: auto;}
}